[submodule "அகராதிகாம்"]
	path = அகராதிகாம்
	url = https://github.com/247i/Dicom.git
[submodule "மேற்படியே32"]
	path = மேற்படியே32
	url = https://github.com/247i/Ditto32.git
[submodule "மேற்படியே64"]
	path = மேற்படியே64
	url = https://github.com/247i/Ditto64.git
[submodule "டிஒத்திசை"]
	path = டிஒத்திசை
	url = https://github.com/247i/DSynchronize.git
[submodule "உரையாசிரியர்"]
	path = உரையாசிரியர்
	url = https://github.com/247i/Texter.git
[submodule "தட்டச்சுபணி"]
	path = தட்டச்சுபணி
	url = https://github.com/247i/TyperTask
[submodule "பொருள்"]
	path = பொருள்
	url = https://github.com/247i/Porul.git
[submodule "எல்லாம்"]
	path = எல்லாம்
	url = https://github.com/247i/Everything.git
[submodule "இலக்கியவாதி"]
	path = இலக்கியவாதி
	url = https://github.com/247i/Listary.git
[submodule "சொற்றொடர்வெளிப்படுத்து"]
	path = சொற்றொடர்வெளிப்படுத்து
	url = https://github.com/247i/PhraseExpress.git
[submodule "பணிவெறி"]
	path = பணிவெறி
	url = https://github.com/247i/Workrave.git
[submodule "அழகி+"]
	path = அழகி+
	url = https://github.com/247i/Azhagi.git
[submodule "இனியதமிழ்"]
	path = இனியதமிழ்
	url = https://github.com/247i/IniyaTamil.git
[submodule "தசைஉரை"]
	path = தசைஉரை
	url = https://github.com/247i/Beeftext
[submodule "திரைப்பலகதுடிப்பு"]
	path = திரைப்பலகதுடிப்பு
	url = https://github.com/247i/DesktopTicker.git
