[submodule "அகராதிகாம்"]
	path = அகராதிகாம்
	url = https://github.com/247i/Dicom.git
[submodule "மேற்படியே32"]
	path = மேற்படியே32
	url = https://github.com/247i/Ditto32.git
[submodule "மேற்படியே64"]
	path = மேற்படியே64
	url = https://github.com/247i/Ditto64.git
[submodule "டிஒத்திசை"]
	path = டிஒத்திசை
	url = https://github.com/247i/DSynchronize.git
[submodule "உரையாசிரியர்"]
	path = உரையாசிரியர்
	url = https://github.com/247i/Texter.git
[submodule "தட்டச்சுபணி"]
	path = தட்டச்சுபணி
	url = https://github.com/247i/TyperTask
[submodule "பொருள்"]
	path = பொருள்
	url = https://github.com/247i/Porul.git
[submodule "இலக்கியவாதி"]
	path = இலக்கியவாதி
	url = https://github.com/247i/Listary.git
[submodule "பணிவெறி"]
	path = பணிவெறி
	url = https://github.com/247i/Workrave.git
